<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <a href="/" class="logout">Back</a>
    <h1>Login your Account</h1>
    <div class="formdiv">
        <form class="form" action="/login" method="post">
            <label for="email">Email Id:</label>
            <input type="text" name="email" id="email" placeholder="email">
            <br> 
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" placeholder="password">
            <button>Login</button><br>
        </form>
    </div>
</body>
</html>