<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="backdiv">
        <a href="/" class="back"><</a>
    </div>
    <h1>Create Account</h1>
    <div class="formdiv">
        <form class="form" action="/create" method="post">
            <label for="Name">Name :</label>
            <input type="text" name="name" id="name" placeholder="name">
            <br>
            <label for="age">Age :</label>
            <input type="number" name="age" id="age" placeholder="age">
            <br>
            <label for="email">Email Id:</label>
            <input type="text" name="email" id="email" placeholder="email">
            <br> 
            <label for="username">Username :</label>
            <input type="text" name="username" id="Uname" placeholder="username">
            <br>
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" placeholder="password">
            <button>Create User</button><br>
        </form>
    </div>
</body>
</html>